ul.talk {
  padding: 0 16px;
  list-style-type: none;
  li {
    display: flex;
    margin-bottom: 16px;
    align-items: flex-start;
    ion-avatar {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
    }
    .talk-body {
      padding: 8px 16px;
      border-radius: 8px;
      margin: 0 8px 0 16px;
      width: 64%;
    }
    .talk-created {
      width: 60px;
      font-size: 0.8rem;
      align-self: end;
    }
  }

  li.talk-ask {
    flex-direction: row-reverse;
    .talk-body {
      color: var(--ion-color-primary-contrast);
      background-color: var(--ion-color-primary);
    }
    .talk-created {
      text-align: right;
    }
  }

  li.talk-reply {
    .talk-body {
      color: var(--ion-color-light-contrast);
      background-color: var(--ion-color-light);
    }
  }
}

ion-footer > ion-toolbar {
  form {
    display: flex;
    flex-flow: row;
    align-items: flex-end;

    ion-textarea {
      max-height: 400px;
      margin: 8px 0 8px 8px;
      --padding-start: 12px;
      --padding-end: 2px;
      --padding-top: 12px;
      --padding-bottom: 0;
      --color: var(--ion-color-dark);
      background: var(--ion-color-light-tint);
      --background: var(--ion-color-light-tint);
      border: 1px solid var(--ion-color-light-light);
      border-radius: 16px;
    }
  }

  ion-buttons {
    margin: 0 2px 8px;
    ion-button {
      --padding-top: 0;
      --padding-bottom: 0;

      ion-icon {
        font-size: 1.4rem;
      }
    }
  }
}
