ion-footer > ion-toolbar {
  form {
    display: flex;
    flex-flow: row;
    align-items: flex-end;

    ion-textarea {
      max-height: 400px;
      margin: 8px 0 8px 8px;
      --padding-start: 12px;
      --padding-end: 2px;
      --padding-top: 12px;
      --padding-bottom: 0;
      --color: var(--ion-color-dark);
      background: var(--ion-color-light-tint);
      --background: var(--ion-color-light-tint);
      border: 1px solid var(--ion-color-light-light);
      border-radius: 16px;
    }

    position: relative;
    ion-buttons {
      position: absolute;
      right: -4px;
      bottom: 0;

      &.ios{
        right: 4px;
        bottom: 4px;
      }

      ion-button {
        --color: var(--ion-color-dark);
      }
    }
  }

  ion-buttons {
    margin: 0 2px 8px;

    &.ios{
      margin-bottom: 12px;
    }

    ion-button {
      --padding-top: 0;
      --padding-bottom: 0;

      ion-icon {
        font-size: 1.4rem;
      }
    }
  }
}

app-footer-emoji {
  display: block;
  max-height: 0;
  transition: max-height 420ms;

  &.open {
    max-height: 258px;
  }
}
